<p id="notice"><%= notice %></p>

<h1>Marketings</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Result</th>
      <th>Source</th>
      <th>Product</th>
      <th>Lead</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marketings.each do |marketing| %>
      <tr>
        <td><%= marketing.content %></td>
        <td><%= marketing.result %></td>
        <td><%= marketing.source_id %></td>
        <td><%= marketing.product_id %></td>
        <td><%= marketing.lead_id %></td>
        <td><%= marketing.time %></td>
        <td><%= link_to 'Show', marketing %></td>
        <td><%= link_to 'Edit', edit_marketing_path(marketing) %></td>
        <td><%= link_to 'Destroy', marketing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marketing', new_marketing_path %>
