<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @marketing.content %>
</p>

<p>
  <strong>Result:</strong>
  <%= @marketing.result %>
</p>

<p>
  <strong>Source:</strong>
  <%= @marketing.source_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @marketing.product_id %>
</p>

<p>
  <strong>Lead:</strong>
  <%= @marketing.lead_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @marketing.time %>
</p>

<%= link_to 'Edit', edit_marketing_path(@marketing) %> |
<%= link_to 'Back', marketings_path %>
